<h3>Active Users</h3>
<ul class="list-group">
  <li class="list-group-item" *ngFor=" let user of users; index as i">
    {{ user.name }} | 
    <a href="#" (click)="onSetToInactive(i,'active')">Set to Inactive</a> |
    {{user.activeCount}}
  </li>
</ul>
