<h3>Inactive Users</h3>
<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let user of users; index as i">
    {{ user.name }} | 
    <a href="#" (click)="onSetToActive(i,'inactive')">Set to Active</a> |
    {{user.inactiveCount}}
  </li>
</ul>
